In [1]:
#all set operations

A={1,2,3,4,5}
B={4,5,6,7,8}
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
#union
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
#intersection
print(A&B)
A.intersection(B)

{4, 5}

{4, 5}

In [6]:
#set difference only print the elements which are not common.
print(A-B) #set A elements gets printed
print(B-A)

{1, 2, 3}
{8, 6, 7}

In [7]:
#symmetric difference the different values which are not similar
print(A^B)

{1, 2, 3, 6, 7, 8}

In [8]:
cs_students={"Alice","Bob","Charlie","David"}
it_students={"Charlie","Eve","Frank","Bob"}
print("The enrolled students for cs and it are :",cs_students|it_students)
print("The enrolled students in both are :",cs_students&it_students)
print("The enrolled students for cs but not it are :",cs_students-it_students)
print("The enrolled students for who are unique to one program are :",cs_students-it_students,it_students-cs_students)

The enrolled students for cs and it are : {'Alice', 'Bob', 'Eve', 'David', 'Charlie', 'Frank'}
The enrolled students in both are : {'Bob', 'Charlie'}
The enrolled students for cs but not it are : {'Alice', 'David'}
The enrolled students for who are unique to one program are : {'Alice', 'David'} {'Frank', 'Eve'}

In [14]:
#python dict defined as key : value
dict={'Name':'Arjun Sarkar','Age':46,'Class':'HIT3'}
print(dict)

{'Name': 'Arjun Sarkar', 'Age': 46, 'Class': 'HIT3'}

In [15]:
print(dict['Name'])

Arjun Sarkar

In [16]:
#adding a new key value
dict['Case']=3
print(dict)

{'Name': 'Arjun Sarkar', 'Age': 46, 'Class': 'HIT3', 'Case': 3}

In [ ]:
student_marks={
    'Amit':85,
    "Sneha":95,
    "Rahul":78,
    "Diya":90,
    "Mehul":67
}
#print the names and marks in dict
student_marks.items()
student_marks['Tanvi']=88

#update
student_marks['Mehul']=72

#remove
student_marks.pop('Rahul')
max(student_marks)
student_marks.items()
tot = sum(student_marks.values())
print("Total marks:", tot)