In [17]:
#type coversions
# single line comment
#float to int
a=34.5
b=int(a)
print(a)
print(b)

#string to int
c='23'
d=int(c)
print(type(c))
print(type(d))
print(c)
print(d)

#string to float
f='245.6'
g=float(f)
print(type(f))
print(type(g))
print(f)
print(g)

#int to string
i=90
j=str(i)
print(type(i))
print(type(j))
print(i)
print(j)

34.5
34
<class 'str'>
<class 'int'>
23
23
<class 'str'>
<class 'float'>
245.6
245.6
<class 'int'>
<class 'str'>
90
90

In [22]:
#Calculate the gross salary based on basic salary"

basic=int(input("Enter your Basic Salary : "))
if basic >=30000:
    hra=(85*basic)/100
    da=(89*basic)/100
elif basic<=20000:
    hra=(76*basic)/100
    da=(78*basic)/100
else:
    hra=(79*basic)/100
    da=(82*basic)/100
gross=basic+hra+da
print("Your gross salary is : ",gross)

Enter your Basic Salary :  50000

Your gross salary is :  137000.0

In [3]:
#calculation of TDS based on the basic salary

salary=int(input("Enter your salary: "))
if salary<=500000:
    tds=0
elif salary <= 1000000:
    if salary <= 700000:
        tds=((salary-500000)*5)/100
    else:
        tds=((700000-500000)*5)/100+((salary-700000)*10)/100
elif salary <= 2000000:
    if salary <=1000000:
        tds = ((700000-500000)*5)/100+((salary-700000)*10)/100
    elif salary <= 1500000:
        tds = ((700000-500000)*5)/100+((1000000-700000)*10)/100+((salary-1000000)*15)/100
    else:
        tds = ((700000-500000)*5)/100+((1000000-700000)*10)/100+((1500000-1000000)*15)/100+((salary-1500000)*20)/100
else:
    tds=((700000-500000)*5)/100+((1000000-700000)*10)/100+((1500000-1000000)*15)/100  
    +((2000000-1500000)*20)/100+((salary-2000000)*30)/100

print("TDS:",tds)

Enter your salary:  2500000

TDS: 115000.0

In [4]:
#ATM machine distribution of notes based on the amount
five=0
two=0
one=0
amount=int(input("Enter your amount :"))
if amount%100==0:
    if amount>=500:
        five=amount//500
        print("500 notes are",five)
        amount=amount-(five*500)
    if amount>=200:
        two=amount//200
        print("200 notes are",two)
        amount=amount-(two*200)
    if amount>=100:
        one=amount//100
        print("100 notes are",one)
else:
    print("Please enter multiples of 100 ")

Enter your amount : 10000

500 notes are 20