In [1]:
import keyword

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
2*10

20

In [4]:
16+10

26

In [5]:
2**3

8

In [6]:
a=10
print(type(a))

<class 'int'>

In [7]:
type('abc')

str

In [8]:
type(10.2)

float

In [13]:
print(1,1,2,3,4,sep="  Arjun Sarkar",end="/n")

1  Arjun Sarkar1  Arjun Sarkar2  Arjun Sarkar3  Arjun Sarkar4/n

In [14]:
eno=input("Emp Num")
en=input("Emp Name")
es=input("Emp Sal")
print("The Given Employee Number is: ",eno)
print("The Given Employee Name is: ",en)
print("The Given Employee Salary is: ",es)

Emp Num 101
Emp Name Karun
Emp Sal 456.35

The Given Employee Number is:  101
The Given Employee Name is:  Karun
The Given Employee Salary is:  456.35

In [15]:
eno

'101'

In [16]:
type(eno)

str

In [23]:
num=input("Enter num :") 
name=input("Enter name :") 
s1=s2=s3=0 
s1=int(input("enter your s1 marks")) 
s2=int(input("enter your s2 marks")) 
s3=int(input("enter your s3 marks")) 
tot=s1+s2+s3
avg=(s1+s2+s3)/3 
print("Total Marks :",tot)
print("Total report :",avg)

Enter num : 57
Enter name : 67
enter your s1 marks 585
enter your s2 marks 685
enter your s3 marks 585

Total Marks : 1855
Total report : 618.3333333333334

In [1]:
a=99.98765
round(a)

100

In [2]:
b=0.87676778376485673262

round(b,2)

0.88

In [3]:
a=int(input())
b=int(input())
if a>b:
    print("the greater value is :",a)
else:
    print("the greater value is :",b)

 12
 56

the greater value is : 56

In [4]:
#wap to check given num even or odd
a=int(input())
if a%2==0:
    print("Even")
else:
    print("odd")

 12

Even

In [35]:
#1 work find the big value of three numbers
# 2 prgms on nested if
# 3 prgms on elif
# 3 prgms on while
#2 prgms on for
#1 tuple
#1 str
#1 list

In [1]:
#n natural numbers
n=int(input("Enter the n value"))
i=0
while i<=n:
    print(i,sep=" ",end="\t")
    i=i+1

Enter the n value 100

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [20]:
#even numbers upto n
n=int(input("Enter the n value"))
i=0
while i<=n:
    if i%2==0:
        print(i,sep=" ",end=" ")
    i=i+1

Enter the n value 100

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [21]:
#odd upto n
n=int(input("Enter the n value"))
i=0
while i<=n:
    if i%2!=0:
        print(i,sep=" ",end=" ")
    i=i+1

Enter the n value 100

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [19]:
#wap to displat tables
n=int(input("enter n:"))
for i in range (1,11):
    print(n,"x" ,i ,"=", n*i)

enter n: 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [25]:
n=int(input())
for i in range(1,n+1):
    j=1
    while j<=i:
        print("*",end=" ")
        j=j+1
    print()

 5

*
* *
* * *
* * * *
* * * * *

In [27]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j or i+j==6:
            print("$",end=" ")
        else:
            print("*",end=" ")
    print()

 5

$ * * * $
* $ * $ *
* * $ * *
* $ * $ *
$ * * * $

In [18]:
#ds
#creating a list and index
list=[10,20,30,40,50,60,70,80,90,100]
list[2]
print("The number is :",list[2])

The number is : 30

In [19]:
#negative index
list[-2]

90

In [20]:
#slicing
list[1:7]

[20, 30, 40, 50, 60, 70]

In [21]:
#print till end
list[4:]

[50, 60, 70, 80, 90, 100]

In [24]:
list
del list[1:3]
list

[10, 40, 50, 60, 70, 80, 90, 100]

In [26]:
l1=[1,2,3,4]
l1.append(5)
l1

[1, 2, 3, 4, 5]

In [40]:
#taking input and store in list using append
n=int(input("enter the number of values to enter in list"))
list=[]
for i in range (n):
    list.append(input())
list

enter the number of values to enter in list 5
 10
 20
 hello
 hi
 67

['10', '20', 'hello', 'hi', '67']

In [42]:
#update the list using insert()
list.insert(2,"HELLO")
list

['10', '20', 'HELLO', 'hello', 'hi', '67']

In [43]:
#remove the element
r=input("enter element to remove from list :")

list.remove(r)
list

enter element to remove from list : 67

['10', '20', 'HELLO', 'hello', 'hi']

In [44]:
#pop using index
list.pop(2)
list

['10', '20', 'hello', 'hi']

In [45]:
#last element delete using pop
list.pop()
list

['10', '20', 'hello']

In [46]:
list.clear()
list

[]

In [47]:
#give index number of element
list=[10,20,30,40,50,60,80]
list.index(20)

1

In [48]:
#count the element how many times it is repeated
list.count(20)

1

In [3]:
#sort using sort()
list.sort(reverse=True)
list

TypeError: unbound method list.sort() needs an argument

In [56]:
list.extend(l1)
list

[1,
 1,
 2,
 2,
 3,
 3,
 4,
 4,
 5,
 5,
 10,
 20,
 30,
 40,
 50,
 60,
 80,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5]

In [2]:

l2 = []
k = int(input("Enter number of elements: "))

for i in range(k):
    l2.append(int(input()))

mini = min(l2)
ind = l2.index(mini)

l2.insert(ind, 100)
print("After inserting 100:", l2)

mx = max(l2)
l2.remove(mx)
print("After removing max value:", l2)

Enter number of elements:  5
 90
 69
 56
 67
 65

After inserting 100: [90, 69, 100, 56, 67, 65]
After removing max value: [90, 69, 56, 67, 65]

In [16]:
#string func
s='abcJJDUysis'
max(s)

'y'

In [17]:
min(s)

'D'

In [18]:
len(s)

11

In [19]:
sorted(s)

['D', 'J', 'J', 'U', 'a', 'b', 'c', 'i', 's', 's', 'y']

In [21]:
s.lower()

'abcjjduysis'

In [22]:
s.upper()

'ABCJJDUYSIS'

In [28]:
#length of str without len fun
s1=input()

c=0
for i in (s1):
    c=c+1
print(c)

 hii

3

In [29]:
#swapcase (swaps lower to upper and upper to lower
s.swapcase()

'ABCjjduYSIS'

In [30]:
#title = every word first letter will be changed to capital
s2='hello my name is alluri seetha rama raju'
s2.title()

'Hello My Name Is Alluri Seetha Rama Raju'

In [32]:
s3='abs123'
s3.isalpha()

False

In [33]:
s3.isdigit()

False

In [34]:
s3.isalnum()

True